# Importing the Data csv File

In [1]:
import pandas as pd


csv_path = "../data/mech_state_labels.csv"
df = pd.read_csv(csv_path)

In [2]:
df.head()

   Pressure_1  Pressure_2  input_state  feedback_state  labels
0   65.664414   48.423782            1               1       0
1   51.561815   28.094194            1               1       0
2   54.225656   31.697366            1               1       0
3   56.346204   33.172950            1               1       0
4   73.243736   54.743206            1               1       0

The data was generated in sequence of the labels and therefore is not shuffled or randomized. We'll first shuffle the dataframe.

In [3]:
df = df.sample(frac = 1)
df.head()

      Pressure_1  Pressure_2  input_state  feedback_state  labels
581    61.380221    0.000000            0               0       1
2887   60.608722   39.248551            1               0       5
315    58.359353   34.242846            1               1       0
234    52.944034   36.960580            1               1       0
2533   70.951106   48.532462            1               0       5

# Normalize Data

Now we'll normalize the two pressure columns using sklearn.

In [4]:
# Normalize Pressure 1

from sklearn import preprocessing

p1 = df[['Pressure_1']].values.astype(float)
p2 = df[['Pressure_2']].values.astype(float)

# Create a min max processor object
min_max_scaler = preprocessing.MinMaxScaler()

norm_p1 = min_max_scaler.fit_transform(p1)
norm_p2 = min_max_scaler.fit_transform(p2)

df['Pressure_1'] = norm_p1
df['Pressure_2'] = norm_p2

In [5]:
df.head()

      Pressure_1  Pressure_2  input_state  feedback_state  labels
581     0.748405    0.000000            0               0       1
2887    0.734133    0.523343            1               0       5
315     0.692524    0.456597            1               1       0
234     0.592350    0.492835            1               1       0
2533    0.925450    0.647136            1               0       5

In [6]:
df.dtypes

Pressure_1        float64
Pressure_2        float64
input_state         int64
feedback_state      int64
labels              int64
dtype: object

In [7]:
# Cast states as floats

df['input_state'] = df['input_state'].astype(float)
df['feedback_state'] = df['feedback_state'].astype(float)

In [8]:
df.head(5)

      Pressure_1  Pressure_2  input_state  feedback_state  labels
581     0.748405    0.000000          0.0             0.0       1
2887    0.734133    0.523343          1.0             0.0       5
315     0.692524    0.456597          1.0             1.0       0
234     0.592350    0.492835          1.0             1.0       0
2533    0.925450    0.647136          1.0             0.0       5

In [9]:
df.dtypes

Pressure_1        float64
Pressure_2        float64
input_state       float64
feedback_state    float64
labels              int64
dtype: object

# One Shot Encoding

In [10]:
import tensorflow as tf

indices = len(df['labels'])
depth = pd.Series(df['labels'].values).unique()
print(indices)
print(depth)

3000
[1 5 0 2 3 4]

In [11]:
target_df = pd.get_dummies(df['labels'].values)

#target = preprocessing.LabelBinarizer()
#target.fit(depth)
#target.classes_

In [12]:
#target.transform(df['labels'])

In [13]:
#df['labels'] = target.transform(df['labels'])

In [14]:
df.head()

      Pressure_1  Pressure_2  input_state  feedback_state  labels
581     0.748405    0.000000          0.0             0.0       1
2887    0.734133    0.523343          1.0             0.0       5
315     0.692524    0.456597          1.0             1.0       0
234     0.592350    0.492835          1.0             1.0       0
2533    0.925450    0.647136          1.0             0.0       5

In [16]:
target_df

      0  1  2  3  4  5
0     0  1  0  0  0  0
1     0  0  0  0  0  1
2     1  0  0  0  0  0
3     1  0  0  0  0  0
4     0  0  0  0  0  1
...  .. .. .. .. .. ..
2995  0  0  0  0  1  0
2996  1  0  0  0  0  0
2997  1  0  0  0  0  0
2998  1  0  0  0  0  0
2999  0  0  0  0  0  1

[3000 rows x 6 columns]